@import '../../styles/variables.scss';
@import '../../styles/templates.scss';
.about-us {
  padding-top: 50px;
  padding-bottom: 90px;
  border-bottom: 1px solid #adadad;

  &__heading {
    margin-bottom: 50px;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
  }
}
.bio {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: 1fr 1.5fr;
  gap: 20px;
  margin-bottom: 122px;
  &__item {
    padding: 32px;
    border-width: 2.2px;
    border-radius: 39.867px;
    border-style: solid;
  }
  &__main {
    display: flex;
    flex-direction: column;

    gap: 38px;
    border-color: #f8f8f8;
    background-color: #f8f8f8;
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 27px;
    color: #828282;
    font-size: 25.914px;
    font-weight: 600;
    line-height: 35.88px;
    &-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &-img {
      width: 159.468px;
      height: 159.468px;
      margin-bottom: 29px;
    }
    &-value {
      color: #262626;
    }
    &-link {
      @extend %buttonHover;
      @extend %buttonActive;
    }
  }
  &__info {
    border-color: $info-border-color;
    grid-row: 1/2;
    grid-column: 2/4;
  }
  &__contribution {
    border-color: $contribution-border-color;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  &__difficulties {
    border-color: $difficulties-border-color;
    grid-row: 2/3;
    grid-column: 3/4;
  }
  &__text {
    font-size: 18px;

    line-height: 22px;
  }
  &__icon {
    display: inline-block;
    width: 23.92px;
    height: 23.92px;
    margin-right: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    &-info {
      background-image: url('../../assets/aboutus/icon-bio.svg');
    }
    &-contribution {
      background-image: url('../../assets/aboutus/icon-contr.svg');
    }
    &-difficulties {
      background-image: url('../../assets/aboutus/icon-difficl.svg');
    }
  }
  &__heading {
    font-size: 25.914px;
    &-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }
    &-info {
      color: $info-heading-color;
    }
    &-contribution {
      color: $contribution-heading-color;
    }
    &-difficulties {
      color: $difficulties-heading-color;
    }
  }
}
@media only screen and (max-width: 1070px) {
  .bio {
    &__text {
      font-size: 15px;
    }
  }
}
@media only screen and (max-width: 873px) {
  .bio {
    grid-template-rows: repeat(3, 1fr);
    &__main {
      font-size: 20px;
      grid-row: 1/4;
    }
    &__text {
      font-size: 13px;
    }
    &__difficulties {
      grid-column: 2/4;
      grid-row: 3/4;
    }
    &__contribution {
      grid-row: 2/3;

      grid-column: 2/4;
    }
    &__heading {
      font-size: 20px;
    }
  }
}
@media only screen and (max-width: 651px) {
  .bio {
    grid-template-rows: repeat(4, 1fr);
    &__text {
      font-size: 13px;
    }
    &__main {
      font-size: 17px;
      grid-row: 1/2;
      grid-column: 1/4;
      gap: 15px;
      &-item {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    &__info {
      grid-row: 2/3;
      grid-column: 1/4;
    }
    &__difficulties {
      grid-row: 3/4;
      grid-column: 1/4;
    }
    &__contribution {
      grid-row: 4/5;

      grid-column: 1/4;
    }
    &__heading {
      font-size: 17px;
    }
  }
}
