.about-us {
  padding-top: 50px;
  padding-bottom: 90px;
  border-bottom: 1px solid #adadad;

  &__heading {
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
  }
}
