@import './variables.scss';

@mixin inputForm($width, $height) {
  &__wrapper {
    position: relative;
  }
  &__label {
    position: absolute;
    font-size: 10px;
    top: 10px;
    left: 20px;
    color: $input-label-color;
  }
  &::placeholder {
    color: $input-text-color;
  }
  width: $width;
  height: $height;
  padding: $inputFormPaddingTopBottom $inputFormPaddingRightLeft;
  align-items: center;
  background: $input-color;
  border-bottom: $input-border-size solid $input-border-color;
  font-family: $font-family-input;
  font-size: $font-size-input;
  font-style: normal;
  font-weight: 300;
  color: $input-text-color;
}

@mixin submitButton($width, $height) {
  background: $button-enabled-color;
  width: $width;
  height: $height;
  border-radius: $submit-button-radius;
  color: $button-enabled-text-color;
  font-family: $font-family-button;
  font-size: $font-size-button;
  font-weight: 400;
  &:disabled {
    background: $button-disabled-color;
  }
  @include hoverEffect();
}

@mixin hoverEffect() {
  &:hover {
    opacity: 0.9;
  }
}

@mixin checkboxBackground($checkbox-image) {
  background-image: $checkbox-image;
  background-repeat: no-repeat;
  background-position: center center;
}
@mixin labelLinkFont($checkbox-font-color) {
  color: $checkbox-font-color;
  font-family: $font-family-checkbox;
  font-size: $font-size-checkbox;
  font-style: normal;
  font-weight: $font-weight-input;
}

@mixin loginHeading($login-heading-size) {
  color: $font-color-login-heading;
  font-family: $font-family-login-heading;
  font-size: $login-heading-size;
  font-style: normal;
  text-align: center;
  font-weight: $font-weight-login-heading;
  line-height: normal;
}

@mixin loginSubtitle($login-subtitle-size) {
  color: $font-color-login-subtitle;
  font-family: $font-family-login-subtitle;
  font-size: $login-subtitle-size;
  font-style: normal;
  text-align: center;
  font-weight: $font-weight-login-subtitle;
  line-height: normal;
}
