// input font
$font-family-input: Inter;
$font-size-input: 15px;

// input color
$input-color: #fff;
$input-border-color: #b7b7b7;

// input dimensions
$inputFormPaddingTopBottom: 10px;
$inputFormPaddingRightLeft: 20px;
$input-border-size: 1px;
