// Font
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// input font
$font-family-input: Inter;
$font-size-input: 15px;
$font-weight-input: 300;

// input color
$input-color: #fff;
$input-border-color: #b7b7b7;
$input-text-color: #222;
$input-label-color: #686868;

// input dimensions
$inputFormPaddingTopBottom: 10px;
$inputFormPaddingRightLeft: 20px;
$input-border-size: 1px;

// checkbox font
$font-family-checkbox: Inter;
$font-size-checkbox: 13px;

// checkbox color
$checkbox-label-color: #000;
$checkbox-link-color: #5ca182;

// checkbox dimensions
$checkbox-width: 18px;
$checkbox-height: 18px;
$checkbox-margine-right: 6px;
$checkbox-label--margine-right: 92px;

$checkbox-default-img: url('../../assets/checkboxDefault.svg');
$checkbox-default-img: url('../../assets/checkboxHover.svg');
$checkbox-checked-img: url('../../assets/checkboxselected.svg');

// Font
$font-family-button: 'Inter', sans-serif;
$font-size-button: 14px;

// Color
$primary-green: #5ca182;
$primary-black: #030b08;
$primary-white: #ffffff;
$secondary-light-green: #e0ebe6;
$secondary-gray: #cccccc;
$gray: #4c4e4d;
$gray2: #adadad;

$button-enabled-color: $primary-green;
$button-disabled-color: $secondary-gray;
$button-enabled-text-color: $primary-white;
$slider-button-background: $secondary-light-green;

// Dimensions
$submit-button-radius: 5px;
$slider-button-width: 226px;
$slider-button-height: 36px;
$slider-button-delta: 3px;

// Effects
$transition: all 0.3s ease;
$transform-button-pressed: scale(0.95);

// Header
$header-links-gap: 34px;
$tabs-color: $gray;
