@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__heading {
    @include loginHeading($login-heading-size);
    margin-bottom: $login-heading-margin-bottom;
    font-size: 1em;
    font-weight: bold;
  }
  &__item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1.5px $gray2;
  }
  &__name {
    @include loginSubtitle($login-subtitle-size);
    font-weight: bold;
  }
  &__description {
    @include loginSubtitle($login-subtitle-size);
  }
  &__key {
    @include loginSubtitle($login-subtitle-size);
    font-weight: bold;
  }
  &__key::before {
    content: 'Используй промокод: ';
    font-weight: normal;
  }
}
