@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

body {
  background-image: url('../../assets/main/branch_left.png'), url('../../assets/main/branch_right.png');
  background-position:
    left bottom,
    right 20%;
  background-repeat: no-repeat;
  background-size:
    30% auto,
    30% auto;
  height: 100%;
}

#root {
  height: calc(100% - #{$padding-top} * 2);
}

@media only screen and (max-width: 767px) {
  #root {
    height: calc(100% - #{$padding-top});
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__heading {
    @include loginHeading($login-heading-size);
    margin-bottom: $login-heading-margin-bottom;
    font-size: 1em;
    font-weight: bold;
  }
  &__item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1.5px $gray2;
  }
  &__name {
    @include loginSubtitle($login-subtitle-size);
    font-weight: bold;
  }
  &__description {
    @include loginSubtitle($login-subtitle-size);
  }
  &__key {
    @include loginSubtitle($login-subtitle-size);
    font-weight: bold;
  }
  &__key::before {
    content: 'Используй промокод: ';
    font-weight: normal;
  }
}
