@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/templates.scss';
.basket {
  padding: 30px 0;
  &__item {
    display: flex;

    justify-content: space-between;
    padding-top: $basket-item-padding-top;
    padding-bottom: $basket-item-padding-bottom;
    height: $basket-item-height;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #adadad;
  }

  &__image {
    object-fit: contain;
    width: 100px;
    height: 100px;
  }

  &__right-block {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
  }

  &__variant {
    height: $basket-item-variants-height;
    padding: 10px 16px;
    border-radius: 40px;
    border: 1.5px solid $basket-item-variants-color;
    color: $basket-item-variants-color;
  }

  &__left-block {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 50%;
  }

  &__control-box {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 77px;
  }

  &__remove {
    @include basket-btn($basket-item-btn-remove-width, $basket-item-btn-remove-height, $basket-item-btn-remove-url);
    margin-right: 12.5px;
  }

  &__add {
    @include basket-btn($basket-item-btn-add-width, $basket-item-btn-add-height, $basket-item-btn-add-url);
    margin-left: 12.5px;
  }

  &__remove-all {
    @include basket-btn($basket-item-btn-remove-all-width, $basket-item-btn-remove-all-height, $basket-item-btn-remove-all-url);
  }

  &__remove-promo {
    @include basket-btn($basket-item-btn-remove-all-width, $basket-item-btn-remove-all-height, $basket-item-btn-remove-all-url);
    display: inline;
  }

  &__active-promo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1.5px $gray2;
  }

  &__count {
    padding: 6px 16px;
    background-color: $basket-item-count-color;
    border-radius: 3px;
  }

  &__btn-back {
    padding: 22px 15px;
    @include submitButton($basket-item-btn-back-width, $basket-item-btn-back-height);
    @extend %buttonLoading;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__heading {
    padding-bottom: 20px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #adadad;
  }

  &__btn {
    @include submitButton($basket-btn-width, $basket-btn-height);
    @extend %buttonLoading;
  }

  &__bottom-box {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 900px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__order {
    margin-top: 40px;
  }
  &__bottom-total,
  &__bottom-promo {
    display: flex;
    align-items: center;
    gap: 20px;

    @media only screen and (max-width: 900px) {
      width: 100%;
      justify-content: center;
    }
  }
  &__errorMessage {
    color: red;
    margin-bottom: $login-email-margin-bottom;
    margin-top: $login-email-margin-bottom;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__badPromo {
    color: red;
  }

  .inputForm {
    width: 150px;
  }
  &__price-box {
    display: flex;
    gap: 10px;
  }
  &__price {
    p {
      display: inline;
    }
    &--discounted {
      color: $product-price-discounted-color;
      font-weight: $product-price-discounted-font-weight;
    }
    &--disable {
      text-decoration: line-through;
      margin-bottom: 5px;
    }
  }
}

@media only screen and (max-width: 551px) {
  .basket {
    &__item {
      flex-direction: column;
      gap: 10px;
      padding-top: 5px;
    }

    &__right-block {
      flex-basis: auto;
      gap: 10px;
    }

    &__left-block {
      flex-basis: auto;
      gap: 10px;
    }
    &__control-box {
      margin-left: 10px;
    }
  }
}
