@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.inputForm {
  @include inputForm(320px, 60px);
}
.invailid {
  &::placeholder {
    color: red;
  }
}

.invailid-label {
  color: red;
}
.vailid-label {
  color: green;
}
