@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.slider__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: $slider-button-width;
  height: $slider-button-height;
  background: $slider-button-background;
  border-radius: calc(#{$slider-button-width} / 2);
  font-family: $font-family-button;
  font-size: $font-size-button;
  cursor: pointer;
  user-select: none;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((#{$slider-button-width} / 2) - #{$slider-button-delta});
    height: calc(#{$slider-button-height} - #{$slider-button-delta} * 2);
    border-radius: calc((#{$slider-button-width} - #{$slider-button-delta}) / 2);
  }
  .active {
    background: $button-enabled-color;
    color: $button-enabled-text-color;
    @include hoverEffect;
  }
}
