@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.register {
  margin-bottom: $loging-padding-top-bottom $loging-padding-rigt-left;
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__heading {
    @include loginHeading($login-heading-size);
    margin-bottom: $login-heading-margin-bottom;
  }
  &__subtitle {
    @include loginSubtitle($login-subtitle-size);
    margin-bottom: $login-subtitle-margin-bottom;
  }
  &__slider {
    margin-bottom: $login-subtitle-margin-bottom;
    margin-top: $register-slider-margin-top;
  }
  &__email {
    margin-bottom: $login-email-margin-bottom;
  }
  &__password {
    margin-bottom: $login-password-margin-bottom;
  }
  &__checkbox {
    margin-top: $input-form-margin-bottom;
  }
  &__home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    div > input {
      width: calc(#{$inputForm-width} / 2 - 10px);
    }
  }
  &__loginLink {
    @include labelLinkTextFont($checkbox-label-color);
    a {
      @include labelLinkFont($checkbox-link-color);
    }
  }
  &__submit {
    margin-bottom: $login-link-margin-top;
    margin-top: $login-link-margin-top;
  }
  &__addressCaption {
    @include loginSubtitle($login-subtitle-size);
    text-align: left;
    margin-top: $login-link-margin-top;
  }
  &__step-hidden {
    display: none;
  }
  &__errorMessage {
    color: red;
    margin-bottom: $login-email-margin-bottom;
    margin-top: $login-email-margin-bottom;
  }
}

.inputForm__wrapper {
  margin-bottom: $input-form-margin-bottom;
  > &:last-of-type {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 715px) {
  .register {
    margin-left: $loging-padding-left-right-mobile;
    margin-right: $loging-padding-left-right-mobile;
    &__heading {
      @include loginHeading($login-heading-size-mobile);
    }
    &__subtitle {
      @include loginSubtitle($login-subtitle-size-mobile);
    }
  }
}
