@import './styles/nullstyle.scss';
@import './styles/variables.scss';
@import './styles/templates.scss';
@import './styles/mixins.scss';

.container {
  max-width: 1200px;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 0 20px;
}
